@import "tailwindcss";

/* @theme{
writing variable
}
@layer components{
  @apply
} */
@theme {
  --color-primary: #3d8361;
  --color-secondary: #f4f6ff;
  --color-secondarytwo: #e7f5ef;
  --color-background: #e0f1e9;
  --color-green-one: #336d51;
  --color-green-light: #c1e2d2;
  --color-text-gray: #757575;
  --color-text-gray-two: #adadad;
  --color-gray-three: #626262;
  --color-gray-four: #ededed;
  --color-gray-five: #353535;
  --color-yellow-one: #ffc436;
  --color-yellow-two: #fff7e2;
  --color-pop-up: #0000005d;
  --color-white-light: #e3e3e3;
  --color-red-one: #c62020;
  --color-red-two: #fff2f2;
  --color-red-tree: #b21e1e;
  --color-red-four: #F9E3E3;
  --color-red-five: #F8C8C8;
  --color-red-light: #fff2f2;
  --color-menu-mobile: #eff2fb;
  --color-input: #383838;
  --color-article: #1f4231;
  --color-scrollbar-track: #bdd8a4be;
  --color-background-gallery: #faeeed;
  --color-white: #ffffff;
  --color-hover-btn: #336d51;
  --color-circle: #ffc436;
  --font-weigh-800: "800";
  --border-custom-color: #e3e3e3;
  --border-custom-color-two: #cbcbcb;
}
@utility hover-icon-header {
  @apply transition-all duration-200 ease-in hover:bg-secondarytwo cursor-pointer rounded-[10px];
}
@utility tab-navigation {
  @apply transition-colors duration-200 rounded-lg
  px-3 h-full flex justify-center items-center md:px-4 hover:bg-gray-four;
}
@utility active-tab-navigation {
  @apply bg-primary hover:bg-[#336D51] text-white;
}
@utility ec-hover-btn {
  @apply transition-colors duration-300 hover:bg-hover-btn;
}
@utility button-sort-product {
  @apply flex h-8 py-1.5 px-3 items-center justify-center text-primary text-sm rounded-lg w-fit transition-colors duration-300;
}
.cover-label-checkbox {
}
.cover-label-checkbox span {
  gap: 8px;
  display: flex;
  align-items: center;
  color: var(--color-gray-three);
}

/* .cover-label-checkbox span input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: var(--color-primary);
  border-radius: 2px;
  cursor: pointer;
} */

.cover-roller::after {
  content: "";
  width: 18px;
  position: absolute;
  height: 18px;
  top: 2;
  left: 2;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: left 0.3s ease;
}
.product-toggle-checkbox:checked + .cover-roller {
  background-color: var(--color-primary);
}
.product-toggle-checkbox:checked + .cover-roller::after {
  left: 24px;
}
::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
* {
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "iranyekan", sans-serif;
  font-weight: 300;
}
body {
  font-family: "iranyekan", sans-serif;
  font-weight: 300;
  position: relative;
  direction: rtl;
  background-color: var(--color-secondary);
  overflow-x: hidden;
}
@layer utilities {
  .hover-img-menu {
    @apply transition duration-300 ease-in-out group-hover:rotate-y-0 group-hover:block;
  }

  .button-sort-product-active {
    @apply bg-primary text-white hover:bg-[#336D51];
  }

  .border-l-type-one:not(:last-child) {
    border-left: 1px solid var(--border-custom-color) !important;
  }
  /* .profile-button-success {
    @apply bg-primary text-white hover:bg-green-one transition-colors duration-300
    py-2 px-4 rounded-lg;
  } */
}
@layer components {
  .duretion-150-ms {
    @apply transition-all duration-150;
  }
  .duretion-300-ms {
    @apply transition-all duration-300;
  }
  .success-btn {
    @apply bg-primary text-white hover:bg-green-one transition-colors duration-300
    py-2 px-4 rounded-lg;
  }
  .danger-btn {
    @apply text-red-one transition-colors duration-300 py-2 px-4 
    hover:bg-red-two rounded-lg;
  }
  .pop-up {
    @apply left-1/2 -translate-x-1/2 -translate-y-1/2 fixed;
  }
  .cover-shadow-success:hover .text-shadow-success {
    text-shadow: 0 0 24px #3d836199;
  }
  .cover-shadow-success:hover .img-shadow-success {
    filter: drop-shadow(#3d836199 0px 0px 24px);
  }
  .cover-shadow-danger:hover .text-shadow-danger {
    text-shadow: 0 0 24px #c6202099;
  }
  .cover-shadow-danger:hover .img-shadow-danger {
    filter: drop-shadow(#c6202099 0px 0px 10px);
  }
  .profile-orders-card:not(:last-child) {
    border-bottom: 2px solid var(--border-custom-color) !important;
  }
}

.border-custom {
  border: 1px solid var(--border-custom-color);
}
.border-type-two {
  border: 1px solid var(--border-custom-color-two);
}
.border-type-three {
  border: 1px solid var(--color-primary);
}
.border-type-four {
  border: 1px solid var(--color-red-one);
}
.border-type-five {
  border: 1px solid var(--color-yellow-one);
}
.border-b {
  border-bottom: 1px solid var(--border-custom-color);
}
.border-b-w-2 {
  border-bottom: 2px solid var(--border-custom-color);
}
.border-b-type-two {
  border-bottom: 1px solid var(--border-custom-color-two);
}
.border-t {
  border-top: 1px solid var(--border-custom-color-two);
}
.border-t-type-two {
  border-top: 1px solid var(--color-gray-four);
}
.border-t-type-three {
  border-top: 2px solid var(--border-custom-color);
}
.border-t-and-b {
  border-top: 1px solid var(--color-gray-four);
  border-bottom: 1px solid var(--color-gray-four);
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
@supports (-moz-appearance: none) {
  html,
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-scrollbar-track);
  }
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Medium.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Heavy.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-ExtraBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-ExtraBlack.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-DemiBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "iranyekan";
  src: url("../../public/fonts/woff/IRANYekanX-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.ress {
  font-family: "iranyekan";
}
button {
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  /* background-color: var(--color-secondary); */
}
.limit {
  padding-right: 15px;
  padding-left: 15px;
}
.limit-desktop {
  padding-right: 56px;
  padding-left: 56px;
}
.header .header-main-desktop {
  display: flex;
  flex-direction: column;
}
.header .header-main-desktop .cover-ul {
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-15px);
}
.header .header-main-desktop .cover-ul ul {
  display: flex;
  width: 416px;
  max-width: 100%;
  justify-content: space-between;
}
.header .header-main-desktop .cover-ul ul li {
  font-size: 12px;
  color: #3d8361;
}
.header .header-main-desktop .cover-ul .imgage-cover-menu {
  display: block;
  transform: translateX(-23px);
  margin-top: 8px;
}
.header .header-cover-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.header .header-right-desktop {
  display: flex;
  align-items: center;
  /* height: 117px; */
}
.header .header-cover-desktop .header-right-desktop h2 {
  margin-right: 15px;
  color: #3d8361;
  font-size: 13px;
  font-weight: 800;
}
.header .header-cover-desktop .header-midle-desktop .cover-ul ul {
  display: flex;
  width: 400px;

  justify-content: space-between;
}
.header .header-cover-desktop .header-midle-desktop .input-header {
  position: relative;
}

.header .header-cover-desktop .header-midle-desktop .input-header input {
  width: 40vw;
  height: 40px;
  border: 1px solid var(--border-custom-color-two);
  border-radius: 8px;
  padding: 5px 11px 5px 0px;
}
.header .header-cover-desktop .header-midle-desktop .input-header img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}
.header .header-cover-desktop .header-left-desktop {
  display: flex;
  justify-content: space-between;
  width: 207px;
}
.header .header-cover-desktop .header-left-desktop button {
  background-color: #3d8361;
  border-radius: 8px;
  width: 151px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  padding-bottom: 2px;
  transition: background-color 0.3s ease;
}
.header .header-cover-desktop .header-left-desktop button:hover {
  background-color: var(--color-hover-btn);
}
.header .header-cover-desktop .header-left-desktop button img {
  width: 24px;
  height: 24px;
  margin: 3px 18px 0px 8px;
}
.header .header-cover-desktop .header-left-desktop .image-cart-desktop {
  width: 40px;
  height: 40px;
}

#login .var {
  display: none;
}

/* .const-cover-login {
  transition: top 1s, left 1s;
} */

.cover-login {
  transition: 0.5 top;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 20;
  background-color: var(--color-pop-up);
}

.login {
  position: fixed;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  top: 140%;
  left: 50%;
  max-width: 419px;
  width: 90%;
  height: auto;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 30;
}
.open-login {
  top: 50%;
}
.login .top-login-stop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .top-login-stop .top_right {
  display: flex;
  align-items: center;
}
.login .top-login-stop .top_right img {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.login .top-login-stop img {
  width: 32px;
  height: 32px;
}
.login .top-login-stop span {
  font-size: 20px;
  font-weight: 800;
  color: #3d8361;
}
.login .bottom_login {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 300px;
  max-width: 100%;
}
.login .bottom_login .icon_login {
  position: relative;
  width: 144px;
  height: 145px;
}

.login .bottom_login .icon_login .img1 {
  width: 100%;
  height: 100%;
}
.login .bottom_login .icon_login .img2 {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 23.5px;
  top: 24px;
  right: 24.5px;
  bottom: 25px;
}
.login .bottom_login .bottom_login_variable {
  width: 100%;
}

.login .bottom_login p {
  font-size: 14px;
  color: #757575;
  margin: 12px 0px 16px 0px;
}
.login .bottom_login .btn-login {
  width: 100%;
  background-color: #3d8361;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 24px;
}
.login .bottom_login input {
  height: 40px;
  width: 100%;
  border: 1px solid #757575c4;
  size: 16px;
  border-radius: 9px;
  padding-right: 8px;
}

.bottom_login .bottom_login_variable .two-btn {
  background-color: var(--color-gray-four);
  color: var(--color-text-gray-two);
}
.bottom_login .bottom_login_variable .number {
  color: #3d8361;
}
.false-img-down-menu {
  transform: rotateY(90deg);
}
.header-link-menu:hover + .false-img-down-menu {
  transform: rotateY(0deg);
}
/* products  صفحه محصولات بخش 2 */
/* صفحه بلاگ  */
.popular-product-card,
.overal-products,
.profile-favorite-products,
.overal-blogs,
.overal-blogs-suggest {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.overal-products {
  row-gap: 8px;
}
.para-item-blog {
  display: none;
}
@media screen and (min-width: 420px) {
  .popular-product-card,
  .overal-products,
  .profile-favorite-products,
  .overal-blogs,
  .overal-blogs-suggest {
    grid-template-columns: repeat(2, 1fr);
  }
  .overal-products {
    gap: 16px;
  }
  .img-cart-product {
    width: 216px;
    height: 208px;
  }
  .overal-product-item {
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .img-item-blog {
    width: 100%;
  }
  .box-text-blog {
    flex-direction: column-reverse;
    row-gap: 8px;
  }
  .title-and-desk-blog {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .para-item-blog {
    display: block;
    text-align: justify;
  }
  .products-loading-container {
    flex-direction: column;
  }
  .products-loading-img {
    width: 100%;
    height: 128px;
  }
  /* loading products */
  /* .loading-products { */
  /* @utility loading-products {
      @apply flex-col h-32 w-full
    } */
  /* } */
}
@media screen and (min-width: 768px) {
  .popular-product-card,
  .overal-products,
  .overal-blogs,
  .overal-blogs-suggest {
    grid-template-columns: repeat(3, 1fr);
  }
  .bg-footer-one {
    background: url("../../public/images/bg-footer1.svg") right center / cover
      no-repeat;
    width: 100%;
    height: 690px;
  }
}
/* single product */
@media screen and (min-width: 1024px) {
  .overal-products,
  .overal-blogs {
    grid-template-columns: repeat(4, 1fr);
  }
}
.product-detail-section {
  scroll-margin-top: 106px;
}
@media screen and (min-width: 1280px) {
  .profile-favorite-products {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-detail-section {
    scroll-margin-top: 191px;
  }
}
/* home styles */
/* swiper slider */

@media screen and (max-width: 926px) {
  .header .header-cover-desktop .header-right-desktop h2 {
    display: none;
  }
}

/* css gallery  */
.gallary {
  display: grid;
  grid-template-columns: repeat(4, minmax(clamp(140px, 20%, 272px), 272px));
  justify-content: center;
}

/* why pedarbozorg */
.why-pedarbozorg {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 160px));
  justify-content: center;
}
@media screen and (min-width: 640px) {
  .why-pedarbozorg {
    grid-template-columns: repeat(4, minmax(auto, 271px));
  }
}

@media screen and (max-width: 768px) {
  .gallary {
    grid-template-columns: repeat(2, minmax(140px, auto));
  }
}
@media screen and (max-width: 592px) {
  .limit-desktop {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 380px) {
  .buy-single-product {
    flex-direction: column;
  }
  .buy-single-product > div {
    width: 100%;
  }
  /* #login {
    width: 90px;
  }
  #login button {
    display: none;
  }

  #login .var {
    display: block;
  }
  .header .header-cover-desktop .header-midle-desktop .input-header input {
    width: 35vw;
  } */
}

.header .header-cover-mobile {
  display: none;
}
.header .header-main-desktop .cover-ul .tap-menu {
  display: none;
}
@media screen and (max-width: 420px) {
  .header .header-main-desktop .cover-ul ul {
    max-width: 315px;
  }
  .header .header-main-desktop .cover-ul ul li {
    font-size: 10px;
    /* color: #3d8361; */
  }
  .header .header-cover-desktop {
    display: none;
  }
  .header .header-cover-mobile {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header .header-cover-mobile .header-right {
    display: flex;
    width: 112px;
    justify-content: space-between;
  }
  .header .header-cover-mobile .header-middle {
    margin-right: 11px;
  }
  .header .header-cover-mobile .header-left {
    width: 72px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
  }
  .icon-image:not(:nth-child(4)) {
    width: 32px;
    height: 32px;
  }

  .header .header-main-desktop .cover-ul .imgage-cover-menu {
    display: none;
  }
  .header .header-main-desktop .cover-ul {
    position: fixed;
    background-color: #ffffff;
    width: 255px;
    height: 100%;
    top: 0px;
    right: -255px;
    text-align: center;
    padding-top: 30px;
    transition: 0.3s all;
  }
  .header .header-main-desktop .cover-ul ul {
    display: block;
    width: 100%;
    margin-top: 103px;
  }
  .header .header-main-desktop .cover-ul ul li {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
    height: auto;
    margin-bottom: 35px;
  }
  .header .header-main-desktop .cover-ul.active {
    right: 0px;
  }
  .header .header-main-desktop .cover-ul .tap-menu {
    display: block;
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid var(--border-custom-color);
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
    padding-right: 19px;
    align-items: center;
  }
  .header .header-main-desktop .cover-ul .tap-menu .logo-tap-menu {
    width: 44.4px;
    height: 40px;
  }
  .header .header-main-desktop .cover-ul .tap-menu button img {
    width: 32px;
    height: 32px;
  }
  .covermenu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(8px);
  }
  .show-img-menu {
    display: none;
  }
  .down-420 {
    margin-top: 64px;
  }
  .responsive-img-nav-link {
    display: none;
  }
}

/* spin in project  */
/* .input-spin {
  border: 1px solid var(--border-primary);
} */
.input-spin {
  border: 1px solid var(--color-primary) !important;
}
.otp-input:focus {
  border: 1px solid var(--color-primary) !important;
  outline: 1px solid var(--color-primary) !important;
}
.spin-center {
  left: calc(50% - 38px);
  top: calc(50% - 44px);
}
.input-spin:focus + .spin-phone,
.input-spin:not(:placeholder-shown) + .spin-phone {
  transform: translate(-6px, -16px);
  font-size: 12px;
  color: var(--color-primary);
}
.p-about {
  text-align-last: center;
}

/* صفحه محصولات */

.range-product {
  pointer-events: none;
}
.range-product[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: green;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 50%;
  pointer-events: all;
}

/* page content */

.select-content {
  border: 1px solid var(--border-custom-color-two);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../public/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: left 10px center;
}
.select-content option {
  font-family: "iranyekan";
  font-weight: 400;
}
.border-upload {
  border: 1px solid var(--color-primary);
}
