.myCustomSwiper {
  position: relative;
  width: 100%;
  margin-top: 120px;
  height: 450px;
  overflow: hidden;
  border-radius: 16px;
}
.myCustomSwiper :global(.swiper) {
  width: 90%;
  height: 100%;
}

.myCustomSwiper :global(.swiper-slide) {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
.myCustomSwiper :global(.swiper-slide:not(.swiper-slide-active):after) {
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  backdrop-filter: blur(12px);
  background-color: #ffffff2b;
  width: 100%;
  height: 100%;
}
.myCustomSwiper :global(.cover-slider-1) {
  background: url("../../../public/images/bg-slider1.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
}
.myCustomSwiper :global(.cover-slider-2) {
  background: url("../../../public/images/bg-slider2.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
}
.myCustomSwiper :global(.cover-slider-3) {
  background: url("../../../public/images/bg-slider3.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
}
.myCustomSwiper :global(.cover-slider-4) {
  background: url("../../../public/images/bg-slider4.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
}
.myCustomSwiper :global(.cover-slider-5) {
  background: url("../../../public/images/bg-slider5.webp") no-repeat center
    center;
  background-size: cover;
  background-position: center;
}
.myCustomSwiper :global(.prev-slider) {
  position: absolute;
  font-size: 25px;
  top: 50%;
  right: 0px;
  z-index: 1;
  cursor: pointer;
  color: #ffffffea;
}
.myCustomSwiper :global(.prev-slider:after) {
  content: "▶";
  padding-top: 11.5px;
  padding-bottom: 0px;
  padding-right: 14px;
  border-radius: 8px;
  position: absolute;
  height: 55px;
  width: 55px;
  top: 0px;
  right: 0px;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(20px);
}

.myCustomSwiper :global(.next-slider) {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 55px;
  z-index: 1;
  cursor: pointer;
  /* transform: translateY(-50%); */
  color: #ffffffea;
}
.myCustomSwiper :global(.next-slider::before) {
  content: "◀";
  padding-top: 11.5px;
  padding-right: 17px;
  border-radius: 8px;
  position: absolute;
  height: 55px;
  width: 55px;
  top: 0px;
  right: 0px;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(20px);
}
.myCustomSwiper :global(.swiper-pagination-bullet) {
  width: 12px !important;
  height: 8px !important;
  border-radius: 10px !important;
  margin: 0 4px !important;
  background: #ffffffa6 !important;
  opacity: 1 !important;
  transition: all 0.7s ease;
  transform-origin: left center;
}
.myCustomSwiper :global(.swiper-pagination-bullet-active) {
  background: rgb(255, 251, 0) !important;
  width: 33px !important;
}
@media screen and (max-width: 926px) {
  .myCustomSwiper :global(.swiper-pagination) {
    display: flex;
    justify-content: end;
    margin-bottom: 22.5px;
    margin-left: 5%;
  }
  .myCustomSwiper {
    height: 300px;
  }
  .myCustomSwiper :global(.next-slider) {
    top: auto;
    right: 120px;
    bottom: 65px;
  }
  .myCustomSwiper :global(.prev-slider) {
    bottom: 65px;
    top: auto;
    right: 50px;
  }
  .myCustomSwiper :global(.swiper-slide) {
    border-radius: 16px;
  }
}
@media screen and (max-width: 420px) {
  .myCustomSwiper {
    margin-top: 70px;
  }
}
@media screen and (max-width: 600px) {
  .myCustomSwiper :global(.swiper) {
    width: 100%;
  }
  .myCustomSwiper :global(.prev-slider) {
    font-size: 20px;
    bottom: 57px;
    right: 15px;
  }
  .myCustomSwiper :global(.prev-slider:after) {
    height: 40px;
    width: 40px;
    padding-right: 9.5px;
    padding-top: 9px;
  }
  .myCustomSwiper :global(.next-slider) {
    font-size: 20px;
    bottom: 57px;
    right: 65px;
  }
  .myCustomSwiper :global(.next-slider::before) {
    height: 40px;
    width: 40px;
    padding-right: 12.5px;
    padding-top: 9px;
  }
}